* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}
.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;

}
.degree-section span {
    margin: 10px;
    font-size: 30px;

    
}
.degree-section h2 {
    font-size: 40px;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.7);
  }
  .modal-content {
    position: relative;
    background: lightgrey;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    border-radius: 10px;
    background-color: #4c8bad;
    text-align: center;
  }
  .modal__close {
    width: 23px;
    height: 23px;
    right: -12px;
    top: -12px;
    font-size: 22px;
    font-weight: 700;
    color: lightcoral;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    padding: 1px;
    text-align: center;
    background: #2f2f2f;
  
  }
  .btn-modal {
    padding: 10px 20px;
    border-radius: 30px;
    background: lightsalmon;
    margin: 0 0 50px 0;
  }
  .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }